websocket-client
python-dotenv
requests
streamlink

google-generativeai
google-cloud-speech
google-api-python-client

langchain
langchain-core
langchain-huggingface
langchain-community
sentence-transformers
faiss-cpu